<html>
<meta name="viewport" content="width=device-width, user-scalable=no" />
<head>
<link rel="icon" href="/static/favicon.ico" type="image/x-icon"/>
<link rel="apple-touch-icon" href="/static/jott-icon.png">

<link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700&amp;subset=latin-ext" rel="stylesheet">

<title> jott - {{ name }} </title>
<style>

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Inconsolata', monospace;
    background: rgb(63, 63, 63);
    color: rgb(220, 220, 220);
}
body {
    padding: 5px;
}
#name {
    width: 100%;
    font-weight: bold;
}
pre {
    font-family: 'Inconsolata', monospace;
}
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/zenburn.min.css" rel="stylesheet">
<script>hljs.initHighlightingOnLoad();</script>
<script>

// A series of rendering passes
function render(elem) {
    let contents = elem.textContent;
}

window.addEventListener('load', function() {
    render(document.getElementById('note-container'));
});

</script>
</head>

<body>

<h2 id="name">{{ name }}</h2>
<pre id="note-container"><code>{{ note }}</code></pre>

</body>
</html>


