<html>
<meta name="viewport" content="width=device-width, user-scalable=no" />
<head>
<link rel="icon" href="/static/favicon.ico" type="image/x-icon"/>

<link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700&amp;subset=latin-ext" rel="stylesheet">

<style>

html, body {
	margin: 0;
	padding: 0;
	font-family: 'Inconsolata', monospace;
}
body {
	padding: 5px;
}
</style>
</head>

<body>
	<h2>Welcome to jott.live</h2>
	<br>
	Use this site to make <a href="/edit/note/">notes<a>.
    {{count}} notes made so far.
    <br/>
    <p>
        Working with notes: 
        <ul>
            <li>`/note/<note-name>` will return the default HTML rendering of a note</li>
            <li>`/texdown/note/<note-name>` will return a minimal TeXDown rendering of the note</li>
            <li>`/raw/note/<note-name>` will return the raw note</li>
            <li>`/edit/note/<note-name>` will open a basic editor for the note</li>
        </ul>
    </p>
    
</body>
</html>
